.decision {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/img/hero.jpg);
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .decision-container {
  }
  
  .decision-title {
    width: 696px;
    height: 120px;
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin: 30px auto;
  }
  
  .decision-button {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 34px;
    padding-right: 34px;
    margin: 0 auto;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .decision-button:hover {
    background-color: white;
    color: #2196f3;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }g