.footer {
  height: 252px;
  background: #2f303a;
  padding-top: 60px;

  &__logo {
    color: #fff;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-top: 60px;
  }

  &__list {
  }

  &__items {
  }

  &__text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 20px;
    margin-bottom: 9px;
  }

  &__link {
    display: block;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-bottom: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link__number {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link__number:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__container {
    margin-right: 100px;
  }

  &__subscribe__text {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__input__label {
  }

  &__subscribe__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
}
.socials {
  display: flex;
  gap: 10px;
  justify-content: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    background-color: #2196f3;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__items {
  }
}
.instagram {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @keyframes instagram {
    0% {
    }
    25% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1.25) rotate(360deg);
    }
  }
  &:hover {
    fill: white;
    animation-name: instagram;
    animation-duration: 2s;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients {
  height: 250px;

  &__list {
    display: flex;
    margin-top: 50px;
    gap: 30px;
  }

  &__items {
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
  }

  &__svg {
    fill: #afb1b8;
    margin-left: 49px;
    margin-top: 15px;
  }

  &.client__text {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }
}

.join__us {
  margin-right: 40px;


  &__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding-left: 10px;
}

&__list {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

&__text {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
}
.subscribe__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}
.footer1 {
  display: flex;
}