.footer {
  background: #2f303a;
  padding-top: 60px;
  height: 603px;
  .footer__logo {
    display: flex;
    color: #fff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    margin-top: 60px;
    justify-content: center;
  }
  .footer__list {
    display: flex;
    justify-content: center;
  }

  .footer__text {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 20px;
    margin-bottom: 9px;
  }
  .footer__link {
    display: block;
    margin-left: 35px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-bottom: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer__link-number {
    color: #757575;
    margin-left: 45px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 9px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer__link-number:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer__link:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__container {
  }
  .footer__subscribe-text {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .footer__input__label {
  }

  .footer__subscribe__input {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 350px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  .join__us {
  }
  .join__link {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 10px;
  }

  .join__list {
    display: flex;
    margin-top: 15px;
    gap: 15px;
    justify-content: center;
  }
  .join__svg {
    fill: white;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @keyframes join__svg {
    0% {
    }
    25% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1.25) rotate(360deg);
    }
  }
  .join__svg:hover {
    fill: #2196f3;
    animation-name: join__svg;
    animation-duration: 2s;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .join__text {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  .subscribe__button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;
  }
  .footer1 {
  }

  @media screen and (min-width: 1200px) {
    .footer {
      height: 252px;
      background: #2f303a;
      padding-top: 60px;

      &__logo {
        color: #fff;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.78px;
        margin-top: 60px;
      }

      &__list {
      }

      &__items {
      }

      &__text {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        /* 171.429% */
        letter-spacing: 0.42px;
        margin-top: 20px;
        margin-bottom: 9px;
      }

      &__link {
        display: block;
        color: #757575;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71px;
        /* 171.429% */
        letter-spacing: 0.42px;
        margin-bottom: 9px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }

      &__link__number {
        color: #757575;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71px;
        /* 171.429% */
        letter-spacing: 0.42px;
        margin-top: 9px;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }

      &__link__number:hover {
        color: #2196f3;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }

      &__link:hover {
        color: #2196f3;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
      &__container {
        margin-right: 100px;
      }

      &__subscribe__text {
        color: #fff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      }

      &__input__label {
      }

      &__subscribe__input {
        
        height: 50px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(33, 150, 243, 0);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      }
    }

    .join__us {
      margin-right: 40px;

      &__link {
        display: flex;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        padding-left: 10px;
      }

      &__list {
        display: flex;
        margin-top: 15px;
        gap: 15px;
      }

      &__text {
        color: #fff;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      }
    }
    .subscribe__button {
      width: 200px;
      height: 50px;
      border-radius: 4px;
      background: #2196f3;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      /* 187.5% */
      letter-spacing: 0.96px;
    }
    .footer1 {
      display: flex;
      justify-content: space-between;
    }
  }
}
