.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
  }
  
  .Web {
    color: #2196f3;
  }
  
  .header-logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  
  .nav {
  }
  
  .nav-list {
    display: flex;
    gap: 50px;
    margin-right: 344px;
  }
  
  .nav-item {
    position: relative;
  }
  
  .nav-link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
  
  .nav-link:hover::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    background-color: #2196f3;
    border: none;
    margin-top: 15px;
    border-radius: 2px;
    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .nav-link:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-list {
  }
  
  .header-items {
    display: flex;
    gap: 50px;
  }
  
  .header-contact {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .header-contact:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }