.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;

  &__logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  &__list {
  }

  &__items {
    display: flex;
    gap: 50px;
  }

  &__contact {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contact:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.Web {
  color: #2196f3;
}

.nav {
  &__list {
    display: flex;
    gap: 50px;
    margin-right: 344px;
  }

  &__item {
    position: relative;
  }

  &__link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  &__link:hover::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    background-color: #2196f3;
    border: none;
    margin-top: 15px;
    border-radius: 2px;
    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
