.header {
  display: flex;
  height: 60px;
  padding: 16px 0;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    padding: 26px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 25px 0;
  }
  &__logo {
    color: #212121;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.72px;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
    }
  }

  &__items {
    display: block;
    gap: 50px;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__contact {
    display: none;
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  .header__contact1 {
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contact:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.nav {
  display: flex;

  &__list {
    display: flex;
    gap: 50px;
    margin-left: -150px;
  }

  &__item {
    position: relative;
  }

  &__link {
    color: #212121;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }

  &__link:hover::after {
    position: absolute;
    left: 0;
    width: 100%;
    content: "";
    display: block;
    height: 4px;
    background-color: #2196f3;
    border: none;
    margin-top: 15px;
    border-radius: 2px;
    transition-property: background-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    color: #2196f3;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.Web {
  color: #2196f3;
}
