// .team {
//     background: #f5f4fa;
//     height: 648px;
//     padding-top: 94px;
//     padding-bottom: 94px;

//   &__title {
//     color: #212121;
//     font-size: 36px;
//     font-weight: 700;
//     letter-spacing: 1.08px;
//     text-align: center;
//     margin-bottom: 50px;
//   }

//   &__list {
//     display: flex;
//     gap: 30px;
//     margin: 0 auto;
//   }

//   &__items {
//     width: 270px;
//     height: 428px;
//     flex-shrink: 0;
//     border-radius: 0px 0px 4px 4px;
//     background: #fff;
//     gap: 30px;
//     box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
//       0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
//   }

//   &__img {
//     width: 270px;
//     height: 260px;
//   }

//   &__name {
//     display: flex;
//     justify-content: center;
//     color: #212121;
//     font-size: 16px;
//     font-weight: 500;
//     letter-spacing: 0.48px;
//     margin-top: 30px;
//   }

//   &__work {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     color: #757575;
//     font-size: 16px;
//     font-weight: 400;
//     letter-spacing: 0.48px;
//     margin-top: 10px;
//     margin-bottom: 30px;
//   }
// }
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  .team__title {
    color: #212121;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-bottom: 30px;
  }
  .team__list {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__items {
    height:622px;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    gap: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  .team__img {
    height: 460px;
    display: block;
    margin: 0 auto;
    height: 260px;
  }
  .team__name {
    display: flex;
    justify-content: center;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-top: 30px;
  }
  .team__work {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .instagram {
    fill: #afb1b8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @keyframes instagram {
    0% {
    }
    25% {
      transform: scale(0.75);
    }
    50% {
      transform: scale(1.25) rotate(360deg);
    }
  }
  .instagram:hover {
    fill: white;
    animation-name: instagram;
    animation-duration: 2s;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socials {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socials__link:hover {
    background-color: #2196f3;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (min-width: 768px) {
    .team {
      height: 1285px;
    }
    .team__items {
      width: 354px;
      height: 536px;
    }
    .team__img {
      width: 354px;
      height: 374px;
    }
  }
  @media screen and (min-width: 1200px) {
    .team {
      height: 708px;
    }
    .team__items {
      width: 270px;
      height: 428px;
    }
    .team__title {
      font-size: 36px;
      line-height: 1.08px;
    }
    .team__img {
      width: 270px;
      height: 260px;
      flex-shrink: 0;
    }
  }
}
